<script type="text/javascript" src="lib/navigo.min.js"></script>
<script type="text/javascript" src="lib/simplequerystring.js"></script>

<script>
    (function() {
        let router = null;
        let lookup = {};
        let elements = [];

        function register(item) {
            elements.push(item);
        }

        function unregister(item) {
            const index = elements.indexOf(item);

            if (index >= 0) {
                elements.splice(index, 1);
            }
        }

        function notify(event) {
            elements.forEach(element => {
                element.dispatchEvent(event);
            });
        }

        function setActiveRoute(route) {
            elements.forEach(element => {
                element._activeRouteChanged(route);
            });
        }

        window.Sonar = window.Sonar || {};
        Sonar.Router = Sonar.Router || {};

        Sonar.Router.RouterMixin = superClass => class RouterMixin extends superClass {

            static get properties() {
                return {
                    activeRoute: {
                        type: Object,
                        value: () => {}
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                register(this);
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                unregister(this);
            }

            init(root, useHash, hash) {
                if (router) {
                    console.warn("Router already initialized");
                    return;
                }

                router = new Navigo(root, useHash, hash);
                notify(new CustomEvent("sonar-router-init"));
            }

            resolve() {
                if (!router) {
                    console.warn("Router not initialized");
                    return;
                }

                router.resolve();
            }

            resume() {
                if (!router) {
                    console.warn("Router not initialized");
                    return;
                }

                router.resume();
            }

            pause() {
                if (!router) {
                    console.warn("Router not initialized");
                    return;
                }

                router.pause();
            }

            navigate(url, absolute = false) {
                if (!router) {
                    console.warn("Router not initialized");
                    return;
                }

                router.navigate(url, absolute);
            }

            addRoute(path, handler) {
                if (!router) {
                    console.warn("Router not initialized");
                    return;
                }

                lookup[path] = handler;
                router.on(path, {
                    as: path,
                    uses: handler
                });
            }

            removeRoute(path) {
                if (!router) {
                    console.warn("Router not initialized");
                    return;
                }

                const handler = lookup[path];

                if (handler) {
                    router.off(handler);
                }
            }

            generateLink(path, params) {
                if (!router) {
                    console.warn("Router not initialized");
                    return;
                }

                const pathWithParams = router.generate(path, params);
                return router.link(path);
            }

            generate(path, params) {
                if (!router) {
                    console.warn("Router not initialized");
                    return;
                }

                return router.generate(path, params);
            }

            parse(queryString) {
                return simpleQueryString.parse(queryString);
            }

            stringify(query) {
                return simpleQueryString.stringify(query);
            }

            setActiveRoute(route) {
                setActiveRoute(route);
            }

            _activeRouteChanged(activeRoute) {
                this.activeRoute = activeRoute;
            }
        }
    })();
</script>