<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./sonar-router-mixin.html">

<dom-module id="sonar-router-link">
    <template>
        <style>
            :host a {
                font-size: inherit;
                font-weight: inherit;
                color: inherit;
                text-decoration: inherit;
            }
        </style>

        <a href="[[_link]]">
            <slot id="slot"></slot>
        </a>
    </template>
    <script>
        /**
         * `sonar-router`
         * Simple polymer route
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class SonarRouterLink extends Sonar.Router.RouterMixin(Polymer.Element) {

            static get is() {
                return "sonar-router-link";
            }

            static get properties() {
                return {
                    path: {
                        type: String,
                        value: ""
                    },

                    query: {
                        type: Object,
                        value: () => {}
                    },

                    active: {
                        type: Boolean,
                        notify: true,
                        reflectToAttribute: true,
                        computed: "_isActive(activeRoute, _link)"
                    },

                    _link: {
                        type: String,
                        value: ""
                    },

                    _observer: {
                        type: Object,
                        value: null
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this._computeLink();

                this._observer = new MutationObserver(mut => {
                    this._computeLink();
                });

                this.addEventListener("click", this._onLinkClick.bind(this));
                this.addEventListener("sonar-router-init", this._computeLink.bind(this));
                this._observer.observe(this, { attributes: true });
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                this.removeEventListener("click", this._onLinkClick.bind(this));
                this.removeEventListener("sonar-router-init", this._computeLink.bind(this));
                this._observer.disconnect();
            }

            _toCamelCase(input) {
                let output = input[0].toUpperCase() + input.slice(1);
                return output;
            }

            _getParams() {
                let params = this.params || {};

                // handle attributes
                for (let x = 0; x < this.attributes.length; x++) {
                    let item = this.attributes[x];
                    if (item.name.indexOf('param-') === 0) {
                        let name = item.name.slice(6);
                        let segments = name.split('-');
                        name = segments[0] + segments.slice(1).map(this._toCamelCase).join('');
                        params[name] = item.value;
                    }
                }

                // handle props
                let props = Object.getOwnPropertyNames(this).filter(function (p) {
                    return p.indexOf('param') === 0;
                });

                props.forEach((k, i) => {
                    params[k[5].toLocaleLowerCase() + k.slice(6)] = this[k];
                });

                return params;
            }

            _onLinkClick(event) {
                // open in new tab or open context menu (workaround for Firefox)
                if (event.ctrlKey ||
                    event.metaKey ||
                    event.which === 2 ||
                    event.which === 3) {
                    return;
                }

                // prevent the default click
                event.preventDefault();

                this._computeLink();
                this.navigate(this._link);
            }

            _computeLink() {
                const params = this._getParams();
                const qs = this._getQueryString();

                this._link = this.generate(this.path, params) + qs;
            }

            _getQueryString() {
                const qs = this.stringify(this.query);
                return qs.length > 0 ? "?" + qs : "";
            }

            _isActive(activeRoute, link) {
                if (link && activeRoute) {
                    const active = this.generate(activeRoute.path,
                        activeRoute.params) + activeRoute.query;

                    return active === link;
                }

                return false;
            }
        }

        window.customElements.define(SonarRouterLink.is, SonarRouterLink);
    </script>
</dom-module>