<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/utils/async.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="./sonar-router-mixin.html">

<dom-module id="sonar-router">
    <template>
        <style>
            :host {
                height: 100%;
                width: 100%;

                margin: 0;
                padding: 0;
            }

            :host #pages {
                position: relative;
                height: 100%;
                width: 100%;

                margin: 0;
                padding: 0;
            }

            :host #pages ::slotted(*) {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        </style>

        <iron-pages
                id="pages"
                attr-for-selected="path"
                selected="[[activeRoute.path]]">

            <slot id="slot"></slot>
        </iron-pages>
    </template>
    <script>
        (function() {
            let lookup = {};

            /**
             * `sonar-router`
             * Simple polymer router
             *
             * @customElement
             * @polymer
             * @demo demo/index.html
             */
            class SonarRouter extends Sonar.Router.RouterMixin(Polymer.Element) {

                static get is() {
                    return 'sonar-router';
                }

                static get properties() {
                    return {
                        baseUrl: {
                            type: String,
                            value: null
                        },

                        useHash: {
                            type: Boolean,
                            value: false
                        },

                        hash: {
                            type: String,
                            value: "#!"
                        }
                    };
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.init(this.baseUrl, this.useHash, this.hash);

                    const children = this._getContentChildren(this.$.slot);
                    const routes = children.filter(child =>
                        child.hasAttribute("path"));

                    this.addRoutes(routes);
                    Polymer.Async.microTask.run(this.resolve);
                }

                _getContentChildren(element) {
                    return element
                        .assignedNodes({ flatten:true })
                        .filter(n => n.nodeType === Node.ELEMENT_NODE);
                }

                addRoutes(routes) {
                    for (let i = 0; i < routes.length; i++) {
                        const route = routes[i];
                        const path = route.getAttribute("path");
                        const handler = this._onRouteMatched(path, route);

                        this.addRoute(path, handler);
                        lookup[path] = route;
                    }
                }

                _onRouteMatched(path, component) {
                    const handler = (params, query) => {
                        const parsedQuery = this.parse(query);
                        const aggregated = Object.assign({}, params, parsedQuery);
                        const previous = lookup[this._getActivePath()];

                        if (previous) {
                            this._dispatchLeaveEvent(previous);
                        }

                        this._injectParams(component, aggregated);
                        this._dispatchEnterEvent(component);

                        this.setActiveRoute({
                            path: path,
                            params: params || {},
                            query: query
                        });
                    };

                    return handler.bind(this);
                }

                _getActivePath() {
                    return this.activeRoute ?
                        this.activeRoute.path : "";
                }

                _dispatchEnterEvent(eventTarget) {
                    const enterEvent = new CustomEvent("sonar-route-enter");
                    eventTarget.dispatchEvent(enterEvent);
                }

                _dispatchLeaveEvent(eventTarget) {
                    const leaveEvent = new CustomEvent("sonar-route-leave");
                    eventTarget.dispatchEvent(leaveEvent);
                }

                _injectParams(component, params) {
                    const keys = Object.keys(params);

                    for (let i = 0; i < keys.length; i++) {
                        const key = keys[i];
                        const param = params[key];

                        const formatted = this._formatForPolymer(key);
                        const escaped = this._needsEscaping(param) ?
                            this._escape(param) : param;

                        component.setAttribute(formatted, escaped);
                    }
                }

                _needsEscaping(param) {
                    return Array.isArray(param) ||
                        (typeof param === 'object' && param !== null);
                }

                _escape(param) {
                    return `${JSON.stringify(param)}`
                }

                _formatForPolymer(key) {
                    return key
                        .split(/(?=[A-Z])/)
                        .join('-')
                        .toLowerCase();
                }
            }

            window.customElements.define(SonarRouter.is, SonarRouter);
        })();
    </script>
</dom-module>
