<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="greeting-view">
    <template>
        <h1>Hallo [[name]]</h1>
    </template>
    <script>
        /**
         *
         * @customElement
         * @polymer
         */
        class GreetingView extends Polymer.Element {
            static get is() {
                return "greeting-view";
            }

            static get properties() {
                return {
                    name: {
                        type: String,
                        value: ""
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this.addEventListener("sonar-route-enter", this._onEnter);
                this.addEventListener("sonar-route-leave", this._onLeave);
            }

            _onEnter() {
                console.log("entered");
            }

            _onLeave() {
                console.log("leave");
            }
        }

        window.customElements.define(GreetingView.is, GreetingView);
    </script>
</dom-module>