<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="hello-world-view">
    <template>
        <h1>Hello World</h1>
    </template>
    <script>
        /**
         *
         * @customElement
         * @polymer
         */
        class HelloWorldView extends Polymer.Element {
            static get is() {
                return "hello-world-view";
            }
        }

        window.customElements.define(HelloWorldView.is, HelloWorldView);
    </script>
</dom-module>