<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="not-found-view">
    <template>
        <h1>Not Found</h1>
    </template>
    <script>
        /**
         *
         * @customElement
         * @polymer
         */
        class NotFoundView extends Polymer.Element {
            static get is() {
                return "not-found-view";
            }
        }

        window.customElements.define(NotFoundView.is, NotFoundView);
    </script>
</dom-module>